.landing_welcome{
	height: 500px;
	width: 500px;
	box-shadow:  -6px -6px 8px #ffffff73,  5px 5px 3px #25252573 ;
	border-radius: 18px;
	
	
}
.landing_container{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 9%;
}

html{
	background-color:#dde1e7 ;
}
.welcome_body{
	width: fit-content;
	display: grid;
	padding-left: 15%;
	padding-top: 7%;
	row-gap:100px;
	
}
.line{
	justify-content: space-between;
}
#inpb{
	font-size: 30px;
	border: none;
	background-color: #dde1e7;
	height: 100%;
	width: 100%;
	border-radius: 5px;
	box-shadow: inset -6px -6px 5px 0px #ffffff73,inset 5px 5px 4px 0px #25252573;
}
#inpb:focus{
	background-color: orange;
}
